#
# Copyright 2021 ABSA Group Limited
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: JaCoCo report

on:
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          # The project supports Scala 2.11, 2.12, 2.13
          # The CI runs all tests suites for all supported Scala versions at build.yml
          # The codebase for all Scala versions is the same, so the coverage is calculated only once
          # Scala 2.12 is chosen since it is supported by the most wide range of Spark versions and
          # vendor distributions.
          - scala: 2.12.12
            scalaShort: "2.12"
            overall: 80.0
            changed: 80.0
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false

      - uses: coursier/cache-action@c5ca79321d170b8a18c288d9cadc2a6037166d0f

      - name: Setup Scala
        uses: olafurpg/setup-scala@32ffa16635ff8f19cc21ea253a987f0fdf29844c
        with:
          java-version: "adopt@1.8"

      - name: Build and run tests
        run: sbt ++${{matrix.scala}} jacoco

      - name: Add coverage to PR
        id: jacoco
        uses: madrapps/jacoco-report@50d3aff4548aa991e6753342d9ba291084e63848
        with:
          paths: ${{ github.workspace }}/target/scala-${{ matrix.scalaShort }}/jacoco/report/jacoco.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          min-coverage-overall: ${{ matrix.overall }}
          min-coverage-changed-files: ${{ matrix.changed }}
          title: JaCoCo code coverage report - scala ${{ matrix.scala }}
          update-comment: true

      - name: Get the Coverage info
        run: |
          echo "Total coverage ${{ steps.jacoco.outputs.coverage-overall }}"
          echo "Changed Files coverage ${{ steps.jacoco.outputs.coverage-changed-files }}"

      - name: Fail PR if changed files coverage is less than ${{ matrix.changed }}%
        if: ${{ steps.jacoco.outputs.coverage-changed-files < 80.0 }}
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd
        with:
          script: |
            core.setFailed('Changed files coverage is less than ${{ matrix.changed }}%!')
